<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        {{ user.username }}
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="nav-link disabled" aria-haspopup="true" aria-expanded="false" href="#">Profile</a>
        <a class="nav-link disabled" aria-haspopup="true" aria-expanded="false" href="{% url 'password_reset' %}">Reset
            Password</a>
        <div class="dropdown-divider"></div>
        <a class="nav-link disabled" aria-haspopup="true" aria-expanded="false" href="{% url 'logout' %}">Logout</a>
    </div>
</div>