{% extends 'base.html' %}

{% block title %}
{{ request.breadcrumb }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">{{ request.breadcrumb }}</li>
{% endblock %}

{% block content %}
<p>For my first project with Python it is a huge step to try with the Django framework.</p>
<p>Since I been working in Software Quality Assurance (QA), and with my tendency to work with Test Automation,
    I'm trying to learn how to automate Python applications.</p>
<p>Python has been growing in the list of software languages used in the world, it has good frameworks for Bigdata,
    and the Django is an easy way to develop dynamic pages. As Java has some tools to build automation for testing,
    Python have the same kind of tools.</p>
<p>The Pytest is one of those tools, and is the my chosen one for my first test on this enviornment. It even has a tool
    (pytest-django) to develop unit tests to a Django application. My idea is to learn how to develop a small Django web
    page, learn how to implement Pytest to a Python application, and use the Pytest-Django to develop unit tests.</p>
<p>I have been working with Selenium with the Java framework, so besides working with these Python frameworks and tools
    I have a chance to create Selenium tests to the page. I will start with Java and implement some new ideas to the test
    structure, and code. I could even try to use Python to develop the Selenium tests and integrate them with the Pytest.</p>
{% endblock %}