<table class="nav justify-content-center">
    <tr class="nav-item">
        <th><a class="nav-link
            {% if request.view == 'home' %} disabled" {% else %} active" href="{% url 'home' %}" {% endif %}
            {% if request.view == 'home' %} aria-disabled="true" tabindex="-1" {% endif %}
            >Home</a></th>
        <th><a class="nav-link
            {% if request.view == 'about' %} disabled" {% else %} active" href="{% url 'about' %}" {% endif %}
            {% if request.view == 'about' %} aria-disabled="true" tabindex="-1" {% endif %}
            >About</a></th>
    </tr>
</table>