{% extends 'base.html' %}

{% block title %}
{{ board.name }} New Topic
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Boards</li>
  <li class="breadcrumb-item">{{ board.name }}</li>
  <li class="breadcrumb-item active">New topic</li>
{% endblock %}

{% block content %}
<table class="table" width="100%">
    <thead class="thead-inverse">
    <tr align="right">
        <th><a class="btn btn-info" href="{% url 'board_topics' board.id%}">Cancel</a></th>
    </tr>
    </thead>
</table>
{% endblock %}