{% extends 'base.html' %}

{% block title %}
{{ board.name }} {{ request.breadcrumb }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Boards</li>
<li class="breadcrumb-item">{{ board.name }}</li>
<li class="breadcrumb-item active">{{ request.breadcrumb }}</li>
{% endblock %}

{% block content %}
<table class="table" width="100%">
    <thead class="thead-inverse">
    <tr>
        <th>
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'include/form.html' %}
                {% include 'include/normalFormButtons.html' %}
                <div style="float: right;">
                    <button type="submit" class="btn btn-danger"
                            formaction="{% url 'board_topics' board.id%}">Cancel
                    </button>
                </div>
            </form>
        </th>
    </tr>
    </thead>
</table>
{% endblock %}