{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ board.name }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
<table class="table" width="100%">
    <thead class="thead-inverse">
    <tr align="right">
        <th colspan="5"><a class="btn btn-info" href="{% url 'new_topic' board.pk%}">New topic</a></th>
    </tr>
    <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
    </tr>
    </thead>
    <tbody>
    {% for topic in board.topics.all %}
    <tr class='clickable-row' style="cursor: pointer;" data-href="{% url 'topic_' topic.id %}">
        <td>{{ topic.subject }}</td>
        <td>{{ topic.starter.username }}</td>
        <td>{{ topic.posts.count}}</td>
        <td>0</td>
        <td>{{ topic.last_updated }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/clickRow.js' %}"></script>
{% endblock %}